In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler


sns.set(style="whitegrid")

In [2]:
df=pd.read_csv('D:\\hahahaha//ORDERS.csv')

In [4]:
df

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,5/28/2012,5/30/2012,1.320000,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,07-07-2010,07-08-2010,4.560000,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,7/27/2011,7/28/2011,-47.640000,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,7/27/2011,7/28/2011,-30.510000,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,7/27/2011,7/27/2011,998.202300,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,5/14/2013,5/15/2013,137.860000,13,447.87,87532
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,5/14/2013,5/14/2013,-39.070000,3,13.23,87532
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,East,West Virginia,Charleston,25314,09-12-2013,9/14/2013,-1225.029097,4,2215.93,87533
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,West,Wyoming,Cheyenne,82001,02-08-2010,02-11-2010,349.485000,5,506.50,87530
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,West,Wyoming,Cheyenne,82001,09-12-2013,9/14/2013,78.062400,23,172.48,87533

In [5]:
print('First 5 Rows:')
print(df.head())

First 5 Rows:
   Row ID Order Priority  Discount  Unit Price  Shipping Cost  Customer ID  \
0   18606  Not Specified      0.01        2.88           0.50            2
1   20847           High      0.01        2.84           0.93            3
2   23086  Not Specified      0.03        6.68           6.15            3
3   23087  Not Specified      0.01        5.68           3.60            3
4   23088  Not Specified      0.00      205.99           2.50            3

     Customer Name    Ship Mode Customer Segment Product Category  ...  \
0  Janice Fletcher  Regular Air        Corporate  Office Supplies  ...
1    Bonnie Potter  Express Air        Corporate  Office Supplies  ...
2    Bonnie Potter  Express Air        Corporate  Office Supplies  ...
3    Bonnie Potter  Regular Air        Corporate  Office Supplies  ...
4    Bonnie Potter  Express Air        Corporate       Technology  ...

    Region State or Province       City  Postal Code  Order Date   Ship Date  \
0  Central          Illinois    Addison        60101   5/28/2012   5/30/2012
1     West        Washington  Anacortes        98221  07-07-2010  07-08-2010
2     West        Washington  Anacortes        98221   7/27/2011   7/28/2011
3     West        Washington  Anacortes        98221   7/27/2011   7/28/2011
4     West        Washington  Anacortes        98221   7/27/2011   7/27/2011

     Profit  Quantity ordered new    Sales Order ID
0    1.3200                     2     5.90    88525
1    4.5600                     4    13.01    88522
2  -47.6400                     7    49.92    88523
3  -30.5100                     7    41.64    88523
4  998.2023                     8  1446.67    88523

[5 rows x 24 columns]

In [6]:
print('\nData Types:')
print(df.dtypes)

Data Types:
Row ID                    int64
Order Priority           object
Discount                float64
Unit Price              float64
Shipping Cost           float64
Customer ID               int64
Customer Name            object
Ship Mode                object
Customer Segment         object
Product Category         object
Product Sub-Category     object
Product Container        object
Product Name             object
Product Base Margin     float64
Region                   object
State or Province        object
City                     object
Postal Code               int64
Order Date               object
Ship Date                object
Profit                  float64
Quantity ordered new      int64
Sales                   float64
Order ID                  int64
dtype: object

In [7]:
num_rows, num_columns = df.shape
print(f'\nNumber of Rows: {num_rows}, Number of Columns: {num_columns}')

Number of Rows: 9426, Number of Columns: 24

In [8]:

missing_values = df.isnull().sum()
print('\nMissing Values:')
print(missing_values)

Missing Values:
Row ID                   0
Order Priority           0
Discount                 0
Unit Price               0
Shipping Cost            0
Customer ID              0
Customer Name            0
Ship Mode                0
Customer Segment         0
Product Category         0
Product Sub-Category     0
Product Container        0
Product Name             0
Product Base Margin     72
Region                   0
State or Province        0
City                     0
Postal Code              0
Order Date               0
Ship Date                0
Profit                   0
Quantity ordered new     0
Sales                    0
Order ID                 0
dtype: int64

In [9]:
print('\nDescriptive Statistics:')
print(df.describe())

Descriptive Statistics:
             Row ID     Discount   Unit Price  Shipping Cost  Customer ID  \
count   9426.000000  9426.000000  9426.000000    9426.000000  9426.000000
mean   20241.015277     0.049628    88.303686      12.795142  1738.422236
std     6101.890965     0.031798   281.540982      17.181203   979.167197
min        2.000000     0.000000     0.990000       0.490000     2.000000
25%    19330.250000     0.020000     6.480000       3.192500   898.000000
50%    21686.500000     0.050000    20.990000       6.050000  1750.000000
75%    24042.750000     0.080000    85.990000      13.990000  2578.750000
max    26399.000000     0.250000  6783.020000     164.730000  3403.000000

       Product Base Margin   Postal Code        Profit  Quantity ordered new  \
count          9354.000000   9426.000000   9426.000000           9426.000000
mean              0.512189  52446.327286    139.236410             13.798430
std               0.135229  29374.597802    998.486483             15.107688
min               0.350000   1001.000000 -16476.838000              1.000000
25%               0.380000  29406.000000    -74.017375              5.000000
50%               0.520000  52302.000000      2.567600             10.000000
75%               0.590000  78516.000000    140.243850             17.000000
max               0.850000  99362.000000  16332.414000            170.000000

               Sales      Order ID
count    9426.000000   9426.000000
mean      949.706272  82318.489073
std      2598.019818  19149.448857
min         1.320000      6.000000
25%        61.282500  86737.250000
50%       203.455000  88344.500000
75%       776.402500  89987.750000
max    100119.160000  91591.000000

In [10]:

df['Order Date'] = pd.to_datetime(df['Order Date'], errors='coerce')
df['Ship Date'] = pd.to_datetime(df['Ship Date'], errors='coerce')

In [11]:
print('\nData Types After Conversion:')
print(df.dtypes)

Data Types After Conversion:
Row ID                           int64
Order Priority                  object
Discount                       float64
Unit Price                     float64
Shipping Cost                  float64
Customer ID                      int64
Customer Name                   object
Ship Mode                       object
Customer Segment                object
Product Category                object
Product Sub-Category            object
Product Container               object
Product Name                    object
Product Base Margin            float64
Region                          object
State or Province               object
City                            object
Postal Code                      int64
Order Date              datetime64[ns]
Ship Date               datetime64[ns]
Profit                         float64
Quantity ordered new             int64
Sales                          float64
Order ID                         int64
dtype: object

In [12]:
print('\nNumber of Duplicate Rows Before Dropping:')
print(df.duplicated().sum())

Number of Duplicate Rows Before Dropping:
0

In [13]:

df.drop_duplicates(inplace=True)

In [14]:

print('\nNumber of Duplicate Rows After Dropping:')
print(df.duplicated().sum())

Number of Duplicate Rows After Dropping:
0

In [25]:
df[['Customer Name', 'City',]] = df[['Customer Name', 'City', ]].apply(lambda x: x.str.title())

In [27]:
q_upper = df['Quantity ordered new'].quantile(0.99)
df['Quantity ordered new'] = np.where(df['Quantity ordered new'] > q_upper, q_upper, df['Quantity ordered new'])

In [28]:
print('\nOutliers in Quantity column capped at 99th percentile.')

Outliers in Quantity column capped at 99th percentile.

In [29]:
df['Order Year'] = df['Order Date'].dt.year
df['Order Month'] = df['Order Date'].dt.month

In [30]:

df['Profit Margin'] = (df['Profit'] / df['Sales']) * 100
df['Profit Margin'] = df['Profit Margin'].round(2)

In [32]:

sales_by_customer = df.groupby('Customer ID')['Sales'].sum().reset_index()

In [34]:
profit_by_category = df.groupby('Unit Price')['Profit'].sum().reset_index()

In [35]:
scaler = MinMaxScaler()
df['Sales_Normalized'] = scaler.fit_transform(df[['Sales']])

In [36]:
sales_bins = [0, 500, 2000, df['Sales'].max()]
sales_labels = ['Low', 'Medium', 'High']
df['Sales_Bin'] = pd.cut(df['Sales'], bins=sales_bins, labels=sales_labels)

In [42]:
df['Sales_Bin']

0          Low
1          Low
2          Low
3          Low
4       Medium
         ...
9421       Low
9422       Low
9423      High
9424    Medium
9425       Low
Name: Sales_Bin, Length: 9426, dtype: category
Categories (3, object): ['Low' < 'Medium' < 'High']

In [38]:
df['Profit Margin']

0        22.37
1        35.05
2       -95.43
3       -73.27
4        69.00
         ...
9421     30.78
9422   -295.31
9423    -55.28
9424     69.00
9425     45.26
Name: Profit Margin, Length: 9426, dtype: float64

In [39]:
sales_by_customer

      Customer ID    Sales
0               2     5.90
1               3  5014.28
2               5  6476.10
3               6  3332.31
4               7   232.95
...           ...      ...
2698         3398  9154.64
2699         3399  2308.87
2700         3400  1924.32
2701         3402  4646.34
2702         3403   678.98

[2703 rows x 2 columns]

In [40]:
profit_by_category

     Unit Price        Profit
0          0.99   -355.775520
1          1.14    -80.658620
2          1.26   -333.948360
3          1.48   -137.016000
4          1.60    964.079600
..          ...           ...
746     2036.48    686.151042
747     2550.14 -29557.665792
748     3499.99  -5665.440460
749     3502.14 -39743.177836
750     6783.02 -36446.423530

[751 rows x 2 columns]

In [41]:
df['Sales_Normalized']

0       0.000046
1       0.000117
2       0.000485
3       0.000403
4       0.014436
          ...
9421    0.004460
9422    0.000119
9423    0.022120
9424    0.005046
9425    0.001710
Name: Sales_Normalized, Length: 9426, dtype: float64

In [43]:
df['Order Month']

0       5.0
1       NaN
2       7.0
3       7.0
4       7.0
       ...
9421    5.0
9422    5.0
9423    NaN
9424    NaN
9425    NaN
Name: Order Month, Length: 9426, dtype: float64

In [44]:
df['Order Year']

0       2012.0
1          NaN
2       2011.0
3       2011.0
4       2011.0
         ...
9421    2013.0
9422    2013.0
9423       NaN
9424       NaN
9425       NaN
Name: Order Year, Length: 9426, dtype: float64

In [45]:
print('\nData Transformation Completed Successfully:)')

Data Transformation Completed Successfully:)